.hidden {
    display: none;
}

button {
    background-color: cornflowerblue; 
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: .5em;
  }

  button:hover {
    cursor: pointer;
  }